:root {
  --primary-color: #bc8f8f;
  --secondary-color: #d8d0c1;
  --shadow: 10px 10px rgba(0, 0, 0, .3);
  font-family: "Lobster", "Poppins", sans-serif, cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Lobster";
  font-size: 3rem;
}

main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.main-header {
  background-color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
  margin-bottom: 1rem;
}

button {
  background-color: none;
  cursor: pointer;
}

.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 5px;
  border-radius: 0.7rem;
  border: 13px double rgb(140, 140, 140);
}

.submit-form>label {
  display: block;

}

.submit-form>textarea {
  width: 80%;
}

.name {
  border-radius: 0.5rem;
  padding: .5rem;
}


.submit-form>* {
  margin-top: 0.3rem;
}

.submit-form>input {
  border: 1px solid black;
  width: 50%;
  border-radius: 0.3rem;
  padding: 8px;
}

.btn {
  min-width: 100px;
  min-height: 30px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #4c8eff;
  background: #fff;
  color: #4c8eff;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
}

.btn:hover {
  background: #2372fb;
  color: #fff;
}

h1 {
  margin: 1rem 0;
}

.post-block {
  background-color: #e1cccc;
  margin: 3rem;
  max-width: 750px;
  border-radius: 15px 50px 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: var(--shadow);
  overflow: auto;
}

.post-message {
  background-color: #ffffff;
  word-wrap: break-word;
  border-radius: 2px;
  padding: 1rem
}

h2 {
  display: flex;
  text-align: left;
  margin: 1rem 0 1rem 3rem;
}

p {
  margin: 1rem 0;
  height: auto;
}

.delete {
  min-width: 80px;
  min-height: 15px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #372f65;
  background: #fff;
  color: #372f65;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
  margin-top: 0.8rem;
}

@media (min-width: 540px) {
  main {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
  }


}

.message {
  background-color: white;
  border-radius: 5px;
  flex: 1;
  max-width: 100%;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  padding: 8px;
}

.error {
  color: red;
}

.like {
  min-width: 80px;
  /* margin-bottom: .5rem; */
  min-height: 15px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #8b0000;
  background: #fff;
  color: #8b0000;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
}