:root {
  --primary-color: #bc8f8f;
  --secondary-color: #d8d0c1;
  font-family: "Lobster", "Poppins", sans-serif, cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins";
}
main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.main-header {
  background-color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
  margin-bottom: 1rem;
}

button {
  background-color: none;
  cursor: pointer;
}

.submit-form {
  background-color: var(--secondary-color);
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  border: 1px solid black;
}

#name {
  border-radius: 0.5rem;
}

#message {
  max-width: 200px;
  min-height: 100px;
  border-radius: 1rem;
  padding: 8px;
}

.submit-form > * {
  margin-top: 0.3rem;
}

.submit-form > input {
  border: 1px solid black;
}

.btn {
  min-width: 100px;
  min-height: 30px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #6f686d;
  background: #fff;
  color: #6f686d;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
}

.btn:hover {
  background: #423b40;
  color: #fff;
}

h1 {
  margin: 1rem 0;
}

.post-block {
  background-color: #e1cccc;
  margin: 3rem;
  max-width: 750px;
  border-radius: 15px 50px 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px black;
  overflow: auto;
}

.post-message {
  background-color: #ffffff;
}

h2 {
  display: flex;
  text-align: left;
  margin: 1rem 0 1rem 3rem;
}

p {
  margin: 1rem 0;
  height: auto;
}

#delete {
  min-width: 80px;
  min-height: 15px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #3419c0;
  background: #fff;
  color: #3419c0;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
}

@media (min-width: 540px) {
  main {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
  }
}

.message {
  background-color: white;
  border-radius: 5px;
  margin: 1rem 5rem 1rem 5rem;
}

.error {
  color: red;
}

#like {
  min-width: 80px;
  min-height: 15px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #8b0000;
  background: #fff;
  color: #8b0000;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.35s;
}
